<template>
  <div class="articles">
    <Card class="article" v-if="isStudent">
      <p slot="title">
        Welcome!
      </p>
      <p>
        Hi there!
      </p>
    </Card>

    <template v-for="article in articles">
      <Card :key="article.id" class="article" v-if="isTeacher">
        <p slot="title">
          {{ article.title }}
        </p>
        <span slot="extra">
          <Icon type="calendar" />
          {{ article.date }}
        </span>
        <p>
          {{ article.content }}
        </p>
      </Card>
    </template>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'Articles',
  computed: {
    ...mapState('articles', ['articles']),
    ...mapGetters('user', ['isTeacher', 'isStudent'])
  }
};
</script>

<style lang="less">
.articles {
  .article {
    margin-top: 15px;
    margin-bottom: 20px;

    &:hover {
      box-shadow: none;
    }

    .ivu-card-head {
      background-color: #e9eaec;
    }
  }
}
</style>
