<template>
  <div class="classes">
    <ul>
      <li v-for="schoolClass in classes" :key="schoolClass.id">
        {{ schoolClass.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Classes',
  computed: {
    ...mapState('school', ['classes'])
  }
};
</script>

<style lang="less">
.classes {

}
</style>
