<template>
<div id='app' class="layout" :class="{'layout-hide-text': !isMenuExpanded }">
  <Row type="flex">
    <Col :span="menuColSpan" class="layout-menu-left">
      <Menu theme="dark" width="auto" @on-select="onMenuItemSelect" :active-name="activeMenuItemName">
        <MenuItem v-for="menuItem in menuItems" :key="menuItem.name" :name="menuItem.name">
          <Icon :type="menuItem.icon" :size="menuItemIconSize" />
          <span class="layout-text">{{ menuItem.text }}</span>
        </MenuItem>
      </Menu>
    </Col>
    <Col :span="contentColSpan">
      <div class="layout-header">
        <Button type="text" @click="toggleMenu">
          <Icon type="navicon" size="32"></Icon>
        </Button>
      </div>
      <div class="layout-breadcrumb">
        <Breadcrumb>
          <BreadcrumbItem href="/"><Icon type="home" /></BreadcrumbItem>
          <BreadcrumbItem href="#">Y</BreadcrumbItem>
          <BreadcrumbItem>Z</BreadcrumbItem>
        </Breadcrumb>
      </div>
      <div class="layout-content">
        <div class="layout-content-main">
          <router-view />
        </div>
      </div>
      <div class="layout-copy">
        2017 &copy; Just-BI
      </div>
    </Col>
  </Row>
</div>
</template>

<script>
import { mapGetters, mapActions, mapState, mapMutations } from 'vuex';

export default {
  name: 'app',
  computed: {
    ...mapState('app', ['isMenuExpanded']),
    ...mapGetters('app', [
      'menuColSpan',
      'contentColSpan',
      'menuItemIconSize',
      'getMenuItemByName',
      'activeMenuItemName',
      'menuItems'
    ])
  },
  methods: {
    ...mapMutations('app', ['toggleMenu']),
    ...mapActions('app', ['onMenuItemSelect'])
  }
};
</script>

<style lang="less">
html,
body {
  height: 100%;
}
</style>

<style lang="less" scoped>
.layout,
.layout-menu-left,
.ivu-row-flex,
.ivu-menu {
  height: 100%;
}
.layout {
  background: #f5f7f9;
  position: relative;
  overflow: hidden;
}
.layout-breadcrumb {
  padding: 10px 15px 0;
}
.layout-content {
  min-height: 200px;
  margin: 15px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
}
.layout-content-main {
  padding: 10px;
}
.layout-copy {
  text-align: center;
  padding: 10px 0 20px;
  color: #9ea7b4;
}
.layout-menu-left {
  background: #464c5b;
}
.layout-header {
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.layout-hide-text {
  .layout-text {
    display: none;
  }
}
.ivu-col {
  transition: width 0.2s ease-in-out;
}
.ivu-menu-item-active {
  border-right-width: 4px !important;
}
</style>
